@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

body {
  box-sizing: border-box; }

html {
  height: 100%; }

.float-right {
  float: right; }

* {
  font-family: 'Heebo', 'Poppins'; }

h1 {
  font-weight: bold;
  font-size: 45px; }

p {
  font-size: 12px;
  color: #757575;
  font-weight: 300; }

.capitalize {
  text-transform: uppercase; }

.info-text {
  padding-top: 10%;
  padding-bottom: 14%; }
  .info-text--pad-left {
    padding-left: 17%; }
  .info-text--pad-right {
    padding-right: 17%; }
  .info-text--title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .info-text--lead {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500; }
  .info-text--sub {
    font-size: 16px;
    color: #757575;
    font-weight: 300; }

.hero {
  background: url("../../images/paleo-hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  padding: 75px 25%; }

.hero-text--main {
  animation: moveInLeft 2s ease-out; }

.hero-text--sub {
  animation: moveInRight 2s ease-out; }

.hero-text--cta {
  background-color: #016A4E;
  max-width: 300px;
  width: 100%;
  padding: 24px 0;
  font-size: 16px;
  line-height: 0; }

@media (max-width: 425px) {
  .hero {
    padding: 75px 14%;
    background-attachment: scroll; }
  .hero-text {
    background-color: rgba(102, 101, 101, 0.637); }
    .hero-text--main, .hero-text--sub {
      color: white; } }

.green {
  background-color: #F8FDFA;
  color: #03A57A;
  padding: 40px 0;
  font-family: 'Poppins';
  letter-spacing: 2px; }

.circle {
  background-color: #dddddd;
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 50%; }
  .circle:hover {
    transform: scale(2) translateY(-0.5rem);
    transition: 1.5s; }
    .circle:hover ~ .circle-text--title {
      display: none; }
    .circle:hover ~ .circle-text--hidden-text {
      display: block;
      animation: moveInBottom 2s ease-out; }

.circle-text--hidden-text {
  margin-top: 10px;
  display: none;
  transition: 0.2s all; }

.info--text {
  width: 100%;
  --width: 100%; }

.info .image-1 {
  background: url("../../images/paleo-img01.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.info .image-2 {
  background: url("../../images/paleo-img02.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.info .image-3 {
  background: url("../../images/paleo-img03.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.info .image-4 {
  background: url("../../images/paleo-img04.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1%; }

@media (max-width: 768px) {
  .item1 {
    grid-area: item-one; }
  .item2 {
    grid-area: item-two; }
  .item3 {
    grid-area: three; }
  .item4 {
    grid-area: four; }
  .item5 {
    grid-area: five; }
  .item6 {
    grid-area: six; }
  .item7 {
    grid-area: seven; }
  .item8 {
    grid-area: eight; }
  .grid {
    grid-template-columns: 100%;
    grid-template-areas: 'item-one' 'item-two' 'four' 'three' 'five' 'six' 'eight' 'seven'; }
  .info--image {
    height: 300px; }
  .info-text--pad-left {
    padding-left: 0; }
  .info-text--pad-right {
    padding-right: 0; } }

.footer {
  background-color: #E7EAEC;
  padding-top: 100px;
  padding-bottom: 100px; }
  .footer i {
    margin: 0 20px; }
  .footer i.fab {
    color: #4A4A4A; }
  .footer h5 {
    letter-spacing: 2px;
    font-size: 17px; }
  .footer ul {
    padding-left: 0; }
  .footer li {
    list-style: none; }
    .footer li a {
      font-size: 12px;
      color: #757575;
      font-weight: 300; }
  .footer .float-right span {
    font-weight: 100;
    color: #1C1E1D; }
  .footer .pts {
    margin-top: 50px; }
  .footer .pts, .footer .pts a {
    font-size: 10px;
    color: #757575;
    font-weight: 300; }
  .footer--submit {
    background-color: #4A4A4A;
    padding: 4px 17px;
    font-size: 12px; }

@media (max-width: 425px) {
  i.fab {
    margin: 0px 9px; } }

.navbar {
  font-family: 'Poppins'; }
  .navbar .logo {
    max-width: 225px; }
  .navbar .active a {
    color: #425B85 !important; }
  .navbar .nav-link {
    color: #4D4D4D;
    padding: 12px 20px !important; }
  .navbar .nav-cta {
    background-color: #03A57A;
    padding: 11px 20px; }
  .navbar li:hover {
    animation: bounce 1.5s ease-out; }
  .navbar .show:after {
    background-color: white; }

.cta {
  color: white !important;
  border-radius: 0;
  font-family: 'Poppins'; }
  .cta:hover {
    animation: bounce 1.5s ease-out; }

.main-container {
  padding-bottom: 100px; }
