.navbar {
    font-family: 'Poppins';
    // height: 60px;

    .logo {
        max-width: 225px;
    }

    .active a{
        color: #425B85 !important;
    }

    .nav-link{
        color: #4D4D4D;
        padding: 12px 20px !important;
    }

    .nav-cta {
        background-color: $color-primary;
        padding: 11px 20px;
    }

    li:hover {
        animation: bounce 1.5s ease-out;
    }

    .show:after{
        background-color: white;
    }
}





