.hero {
    background: url('/fresh_n_lean/images/paleo-hero.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    padding: 75px 25%;
}

.hero-text {
    
    &--main {
        animation: moveInLeft 1.5s ease-out;
    }

    &--sub {
        animation: moveInRight 1.5s ease-out;
    }

    &--cta {
        background-color: $color-primary-dark;
        max-width: 300px;
        width: 100%;
        padding: 24px 0;
        font-size: 16px;
        line-height: 0;
        animation: moveInBottom 1.5s ease-out;
    }
}

@media (max-width:425px){

}


