.info {

    &--text {
        width: 100%;
        --width: 100%;
    }

    .image-1 {
        background: url('../../images/paleo-img01.jpg') center center no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .image-2 {
        background: url('../../images/paleo-img02.jpg') center center no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .image-3 {
        background: url('../../images/paleo-img03.jpg') center center no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .image-4 {
        background: url('../../images/paleo-img04.jpg') center center no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}



.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 1%;

}

@media (max-width: 1024px){
    .item1 {
        grid-area: item-one;
    }
    .item2 {
        grid-area: item-two;
    }
    .item3 {
        grid-area: three;
    }
    .item4 {
        grid-area: four;
    }
    .item5 {
        grid-area: five;
    }
    .item6 {
        grid-area: six;
    }
    .item7 {
        grid-area: seven;
    }
    .item8 {
        grid-area: eight;
    }
    .grid {
        grid-template-columns: 100%;
        grid-template-areas: 'item-one' 'item-two' 'four' 'three' 'five' 'six' 'eight' 'seven';
    }

    .info--image {
        height: 300px;
    }

    .info-text {
        &--pad-left {
            padding-left: 0;
        }
    
        &--pad-right {
            padding-right: 0;
        }
    }
}